---
import "@style/global.css";
import Header from "@shell/Header.astro";

import { ClientRouter } from "astro:transitions";

interface Props {
  readonly title: string;
  readonly description: string;
}

const { title, description }: Props = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL}>

    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL}>
    <meta property="og:title" content="joanmm.app - Desarrollador Web | Joan Esteban Mendez Martinez" />
    <meta property="og:description" content="Portfolio de Joan Esteban Méndez - Desarrollo web frontend con React, Astro y TypeScript. Transformo ideas en aplicaciones web funcionales y atractivas." />
    <meta property="og:image" content="https://joanmm.netlify.app/og.jpg" />
    
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="joanmm.app">
    <meta property="twitter:url" content={canonicalURL}>
    <meta name="twitter:description" content="Portfolio de Joan Esteban Méndez - Desarrollo web frontend con React, Astro y TypeScript. Transformo ideas en aplicaciones web funcionales y atractivas.">
    <meta name="twitter:image" content="https://joanmm.netlify.app/og.jpg" />
    <ClientRouter />
  </head>
  <body class="layout">
    <Header />
    <slot />
  </body>
</html>

<style>
  .layout {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
  }
</style>
